{% extends "layout.html" %}
{% block scan %}
<script src="https://asprise.azureedge.net/scannerjs/scanner.js" type="text/javascript"></script>

<script>
    function checkandupload() {
        if(document.getElementById('filename').value == '') {
            alert("Please Enter filename");
            return false;
        }
        else {
            scanAndUploadDirectly();
        }
    }
    function checkandscanlocal() {
        if(document.getElementById('filename').value == '') {
            alert("Please Enter filename");
            return false;
        }
        else {
             scanToLocalDisk();
        }
    }
    function scanAndUploadDirectly() {
        scanner.scan(displayServerResponse,
            {
                "output_settings": [
                    {
                        "type": "upload",
                        "format": "pdf",
                        "upload_target": {
                            "url": "http://192.168.43.38:5000/upload?userid={{current_user.user_id}}",
                            "url": "http://localhost:5000/upload?userid={{current_user.user_id}}",
                            "post_fields": {
                                "filename":document.getElementById("filename").value
                            },
                            "cookies": document.cookie,
                            "headers": [
                                "Referer: " + window.location.href,
                                "User-Agent: " + navigator.userAgent
                            ]
                        }
                    }
                ]
            }
        );
    }
    function displayServerResponse(successful, mesg, response) {
        if (!successful) { // On error
            document.getElementById('server_response').innerHTML = 'Failed: ' + mesg;
            return;
        }
        if (successful && mesg != null && mesg.toLowerCase().indexOf('user cancel') >= 0) { // User cancelled.
            document.getElementById('server_response').innerHTML = 'User cancelled';
            return;
        }
        document.getElementById('server_response').innerHTML = scanner.getUploadResponse(response);
    }
    /** Initiates a scan */
    function scanToLocalDisk() {
            scanner.scan(displayResponseOnPage,
                {
                    "output_settings": [
                        {
                            "type": "save",
                            "format": "pdf",
                            "save_path": "${TMP}\\${TMS}${EXT}"
                        }
                    ]
                }
            );
        }
        function displayResponseOnPage(successful, mesg, response) {
            if(!successful) { // On error
                document.getElementById('response').innerHTML = 'Failed: ' + mesg;
                return;
            }
            if(successful && mesg != null && mesg.toLowerCase().indexOf('user cancel') >= 0) { // User cancelled.
                document.getElementById('response').innerHTML = 'User cancelled';
                return;
            }
            document.getElementById('response').innerHTML = scanner.getSaveResponse(response);
        }
</script>
<style>
        img.scanned {
            height: 200px; /** Sets the display size */
            margin-right: 12px;
        }
        div#images {
            margin-top: 20px;
        }
    </style>
{% endblock scan %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="content-section">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ url_for('static',filename='default.jpg') }}">
                    <div class="media-body">
                        <h3 class="account-heading" style="padding-top: 50px;"> {{current_user.email}} </h3>
                    </div>
                </div>
            </div>
            <div>
                <h2>Scan and Share</h2>
                <div class="form-group">
                    <input type="text" placeholder="Enter filename" class="form-control" id="filename"/>
                </div>
                <button type="button" class="btn btn-success" onclick="checkandscanlocal();">Scan Local</button>

                <div id="response"></div><hr>
                <button type="button" class="btn btn-success" onclick="checkandupload();">Scan and Upload</button>

                <div id="server_response"></div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="content-section">
                {% for i in range(0,data|length) %}
                <div>
                    {{data[i].id}}
                    <a href={{ url_for('download', file_id=data[i].id) }}>{{data[i].name}}</a><p>-{{dates[i]}}</p>
                    <a href={{ url_for('share', file_id=data[i].id) }}><button style="background-color:#ffffff;padding: 0;border: none;background: none;" ">
                        <sup><img width=12
                                    class="rounded-circle account-img"
                                    src="{{ url_for('static',filename='share.png') }}">
                            </sup></button></a>

                </div>
                {% endfor %}

            </div>
        </div>
    </div>

</div>
</div>

{% endblock content %}